body {
    margin: 0;
}

.danh-muc {
    height: 50px;
    background-color: #2fa4e7;
}

.danh-sach-danh-muc {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 10px;
    /* set các đối tượng bọc ở trong khối tự động cách
            nhau khoảng cách = giá trị truyền vào */
    gap: 15px;
}

.lien-ket-muc {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
}
/* khối trái  */
.khoi-trai {
    width: 20%;
    height: 90vh;
    /* để vẽ viền dùng border
                border sẽ có 3 tham số (độ dày - loại đường viền - màu sắc)
            */
    border-right: 1px solid #2fa4e7;
    overflow-y: auto;
}
.khoi-tren{
    width: 100%;
    height: 80%;
}
.khoi-duoi{
    width: 100%;
    height: auto;
    margin: auto;
}

p {
    margin: 0px;
}

input {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid #dedede;
}

.khoi-dang-nhap {
    width: 85%;
    height: auto;
    /* nếu margin để auto sẽ căn đối tượng ra giữa*/
    margin: 20px;
}

.quen-mk {
    display: flex;
    justify-content: flex-end;
}

.lien-ket-quen-mk {
    text-decoration: none;
    color: #2fa4e7;
}

.thong-tin {
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #dedede;
    color: white;
}

.dang-nhap {
    background-color: #2fa4e7;
}

.dang-nhap-365 {
    background-color: #0078D4;
}
.trang-chu{
    width: 90%;
    height: 40px;
    margin: 10px;
    list-style: none;
    border-bottom: 1px solid #2fa4e7;
}
.trang-chu1{
    color: #2fa4e7;
    text-decoration: none;
    list-style: none;
    font-size: 18px;

}
.khao-sat{
    color: #2fa4e7;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}
.anh1{
    width: 80%;
    margin: auto;
    img {
    width: 100%;
    height: auto;
    border-radius: 10px;}
}




/* khối phải  */
.khoi-phai {
    width: 80%;
    height: 90vh;
    border-left: 1px solid #2fa4e7;
    overflow-y: auto;
}

.tin {
    width: 95%;
    height: auto;
    margin: 20px auto;
    border: 1px solid #2fa4e7;
    border-radius: 10px;
}

.tin-tren {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #2fa4e7;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h3 {
    margin: 0;
}

.danh-sach-tin {
    width: 95%;
    margin: auto;
    padding: 10px;
    display: flex;
}
.hang{
    display: flex;
    width: 90%;
    margin: 0 0 0 10px;
}
.tuan{
    width:20%;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
   
}
.tuan1{
    width:30%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;

}
.vao{
    display: flex;
    width: 90%;
    margin: 0 0 0 5px;
}
.tuan2{
    width: 51%;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
}
button{
    width: 50px;
    height: 30px;
    border: 1px solid #2fa4e7;
    border-radius: 5px ;
    background-color: white;
    color:#2fa4e7;
 
}






.thoi-khoa-bieu{
    width: 98%;
    table-layout: fixed;
    border: 1px solid #2196e0;
    margin: 20px auto;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}


.thoi-khoa-bieu th,
.thoi-khoa-bieu td {
    border: 1px solid #d5dce3;
    height: auto;
    padding: 3px;
}
.thoi-khoa-bieu tbody th {
    width: 72px;
    background: linear-gradient(
        to bottom,
        #39a9e5,
        #1599dc
    );
    color: white;
    text-align: center;
    font-weight: normal;
}
.thoi-gian{
    background: #1599dc;
    color: white;
    text-align: center;
    font-size: 13px;
}
.mon-hoc {
    background-color: #c9dcf7;
    color: #111;
    padding: 5px;
    font-size: 10px;
}
.gio {
    display: block;
    color: #111;
    border-bottom: 1px solid #2196e0;
}
.trang-chu:hover{
    background-color:gray;
}
.ngay{
    color: #757575;
}



