body {
    margin: 0;
}

.danh-muc {
    height: 50px;
    background-color: #2fa4e7;
}

.danh-sach-danh-muc {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 10px;
    /* set các đối tượng bọc ở trong khối tự động cách
            nhau khoảng cách = giá trị truyền vào */
    gap: 15px;
}

.lien-ket-muc {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
}
/* khối trái  */
.khoi-trai {
    width: 20%;
    height: 90vh;
    /* để vẽ viền dùng border
                border sẽ có 3 tham số (độ dày - loại đường viền - màu sắc)
            */
    border-right: 1px solid #2fa4e7;
    overflow-y: auto;
}
.khoi-tren{
    width: 100%;
    height: 80%;
}
.khoi-duoi{
    width: 100%;
    height: auto;
    margin: auto;
}














p {
    margin: 0px;
}

input {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid #dedede;
}

.khoi-dang-nhap {
    width: 85%;
    height: auto;
    /* nếu margin để auto sẽ căn đối tượng ra giữa*/
    margin: 20px;
}

.quen-mk {
    display: flex;
    justify-content: flex-end;
}

.lien-ket-quen-mk {
    text-decoration: none;
    color: #2fa4e7;
}

.thong-tin {
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #dedede;
    color: white;
}

.dang-nhap {
    background-color: #2fa4e7;
}

.dang-nhap-365 {
    background-color: #0078D4;
}
.trang-chu{
    width: 90%;
    height: 40px;
    margin: 10px;
    list-style: none;
    border-bottom: 1px solid #2fa4e7;
}
.trang-chu1{
    color: #2fa4e7;
    text-decoration: none;
    list-style: none;
    font-size: 18px;

}
.khao-sat{
    color: #2fa4e7;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}
.anh1{
    width: 80%;
    margin: auto;
    img {
    width: 100%;
    height: auto;
    border-radius: 10px;}
}




/* khối phải  */
.khoi-phai {
    width: 80%;
    height: 90vh;
    border-left: 1px solid #2fa4e7;
    overflow-y: auto;
}

.tin {
    width: 95%;
    height: auto;
    margin: 20px auto;
    border: 1px solid #2fa4e7;
    border-radius: 10px;
}

.tin-tren {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #2fa4e7;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h3 {
    margin: 0;
}

.danh-sach-tin {
    width: 95%;
    margin: auto;
    padding: 10px;
    display: flex;
}

.bai-viet {
    width: 25%;
    margin-right: 20px;
   
}
.bai-viet-3{
    width: 50%; 
    height: auto;
    padding: 10px;
    border-left: 1px solid #b3b3b3;

}
.khoi1{
    height: 30%;
    margin: 5px auto;
    display: flex;
    border-bottom: 1px solid #b3b3b3;
    gap: 10px;
}
.khoi11{
     width: 80%;
     color:#757575;

}
.khoi111{
    width: 20%;
    color:#757575;
}
.khoi1111{
    list-style: none;
    text-decoration: none;
    color:#757575;
}
.vien{
    width:100%;
    margin:auto;
    border-bottom: 1px solid #b3b3b3;
}


.bai-viet-khoi-anh {
    width: 100%;
   img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;}
}



.bai-viet-thoi-gian {
    display: flex;
    justify-content: flex-end;
    color: #b3b3b3;
}
.xem-tiep {
    color: #2fa4e7;
    text-decoration: none;
}
.bai-viet2{
    margin: auto;
    width: 50%;
    height: auto;
    margin-right: 20px; 
}
.khoi2{
    width:80%;
    height: auto;
    margin: auto;
    display: flex;
    gap: 400px;
    img {
        width: 40%;
        height: auto;}
}
.khoi22{
    width:100%;
}
.tieude{
    width: 50%;
    margin: auto;
    font-size: 13px;
}
a{
    text-decoration: none;
}

